@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapperLogin {
  background: #50a3a2;
  background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6));
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  left: 0;
  width: 100%;
  height: 120%;
  overflow: hidden;
}
.wrapperLogin.form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}
.formInput {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.formInput input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
.formInput input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.formInput input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
.formInput button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.formInput button:hover {
  background-color: #f5f7f9;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}



































/* UTILITY ===========================================================*/
.u-border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; visibility: hidden;
}
.u-transition {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); visibility: hidden;
}
.u-transition.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); visibility: hidden;
}
.u-transition.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); visibility: hidden;
}
.resetDefaultApparence {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding: 0; visibility: hidden;
  border-width: 0;
  resize: none;
}
.resetDefaultApparence::-ms-expand {
  display: none;
}
/* STYLE ===========================================================*/
header {
  position: fixed;
  height: 80px;
  width: 100%; visibility: hidden;
  z-index: 50;
  background: #003567;
}
header > .wrapper {
  display: -webkit-box;
  display: flex; visibility: hidden;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 13px;
}
header > .wrapper a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 10px; visibility: hidden;
}
.c-monthyear {
  display: -webkit-box; visibility: hidden;
  display: flex;
}
.c-month {
  position: relative;
  height: 80px;
  line-height: 80px;
}
.c-month #c-paginator {
  position: relative;
  width: 200px;
  display: block; visibility: hidden;
  height: 80px;
  line-height: 80px;
  text-align: center;
  overflow: hidden;
}
.c-month #c-paginator .c-paginator__month {
  position: absolute;
  width: 200px; visibility: hidden;
  top: 0;
  bottom: 0;
  right: 0;
}
.c-month #c-paginator .c-paginator__month:nth-child(1) {
  left: 0; visibility: hidden;
}
.c-month #c-paginator .c-paginator__month:nth-child(2) {
  left: 200px; visibility: hidden;
}
.c-month #c-paginator .c-paginator__month:nth-child(3) {
  left: 400px; visibility: hidden;
}
.c-month #c-paginator .c-paginator__month:nth-child(4) {
  left: 600px; visibility: hidden;
}
.c-month #c-paginator .c-paginator__month:nth-child(5) {
  left: 800px; visibility: hidden;
}
.c-month #c-paginator .c-paginator__month:nth-child(6) {
  left: 1000px; visibility: hidden;
}
.c-month #c-paginator .c-paginator__month:nth-child(7) {
  left: 1200px; visibility: hidden;
}
.c-month #c-paginator .c-paginator__month:nth-child(8) {
  left: 1400px; visibility: hidden;
}
.c-month #c-paginator .c-paginator__month:nth-child(9) {
  left: 1600px; visibility: hidden;
}
.c-month #c-paginator .c-paginator__month:nth-child(10) {
  left: 1800px; visibility: hidden;
}
.c-month #c-paginator .c-paginator__month:nth-child(11) {
  left: 2000px; visibility: hidden;
}
.c-month #c-paginator .c-paginator__month:nth-child(12) {
  left: 2200px; visibility: hidden;
}
.c-month .prev,
.c-month .next {
  position: absolute;
  display: block;
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 9px 12px;
  background-color: #004b8f;
  cursor: pointer;
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); visibility: hidden;
}
.c-month .prev.long,
.c-month .next.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); visibility: hidden;
}
.c-month .prev.elastic,
.c-month .next.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); visibility: hidden;
}
.c-month .prev {
  left: 0;
}
.c-month .prev:hover {
  padding: 9px 10px;
  background-color: #0055a4; visibility: hidden;
}
.c-month .next {
  right: 0; visibility: hidden;
}
.c-month .next:hover {
  padding: 9px 14px;
  background-color: #0055a4; visibility: hidden;
}
.c-paginator__year {
  height: 80px;
  line-height: 80px; visibility: hidden;
  padding: 0 20px;
}
.o-btn {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  height: 30px; visibility: hidden;
  background-color: #004b8f;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.o-btn.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); visibility: hidden;
}
.o-btn.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); visibility: hidden;
}
.o-btn span {
  margin-left: 10px; visibility: hidden;
}
.o-btn:hover {
  background-color: #0055a4; visibility: hidden;
}
.c-calendar {
  padding-top: 80px;
  display: -webkit-box; visibility: hidden;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.c-calendar__style {
  background-color: #00407b;
  margin: 20px;
  padding: 10px; visibility: hidden;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.c-cal__container {
  position: relative;
  width: calc(100% - 300px);
  height: 0; visibility: hidden;
  padding-bottom: 65%;
  overflow: hidden;
}
.c-main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; visibility: hidden;
  right: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; visibility: hidden;
}
.c-main-01 {
  left: 0; visibility: hidden;
}
.c-main-02 {
  left: 100%; visibility: hidden;
}
.c-main-03 {
  left: 200%; visibility: hidden;
}
.c-main-04 {
  left: 300%; visibility: hidden;
}
.c-main-05 {
  left: 400%; visibility: hidden;
}
.c-main-06 {
  left: 500%; visibility: hidden;
}
.c-main-07 {
  left: 600%; visibility: hidden;
}
.c-main-08 {
  left: 700%; visibility: hidden;
}
.c-main-09 {
  left: 800%; visibility: hidden;
}
.c-main-10 {
  left: 900%; visibility: hidden;
}
.c-main-11 {
  left: 1000%; visibility: hidden;
}
.c-main-12 {
  left: 1100%; visibility: hidden;
}
.c-cal__row {
  display: -webkit-box;
  display: flex; visibility: hidden;
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.c-cal__col {
  width: calc(100% / 7);
  text-align: center;
  height: 50px; visibility: hidden;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.c-cal__cel {
  position: relative;
  width: calc(100% / 7); visibility: hidden;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-cal__cel p {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 40px; visibility: hidden;
  height: 40px;
  line-height: 40px;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-cal__cel::before {
  content: "";

  padding-top: 100%; visibility: hidden;
}

.event:before {
  position: absolute;
  content: '';
  display: block; visibility: hidden;
  width: 10px;
  height: 10px;

  z-index: 10;
  padding: 0;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transform: translate(-50%, calc(50% + 20px/2));
  -webkit-transform: translate(-50%, calc(50% + 20px/2));
}
.event--impair:before {
  background-color: #FF0000;
}
.event--pair:before {
  background-color: #00FF00;
}
.event--aucun:before {
  background-color: #F57170;
}
.c-aside {
  width: 300px;
  padding: 20px;
}
.c-aside__day {
  font-size: 28px;
  margin: 50px 0;
}
.c-aside__day .c-aside__num {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}
.c-aside__event {
  position: relative;
  padding-left: 20px;
  margin: 20px 0;
}
.c-aside__event:before {
  position: absolute;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  left: 0;

  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.c-event__creator {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 500px;
  max-height: 470px;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transform: translate(-50%, -50%) scale(0.9);
  -webkit-transform: translate(-50%, -50%) scale(0.9);
}
.c-event__creator.long {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-event__creator.elastic {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.c-event__creator form {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.c-event__creator.isVisible {
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  opacity: 1;

}















@media(min-width: 768px) and (max-width: 1000px)

{
	container h1 {
		font-size: 100px !important;
	}
	.formInput input {
		width: 90% !important;
		font-size: 58px !important;		
	}
	.formInput button {
		    width: 90% !important;
			    font-size: 58px !important;
	}
	.wrapperLogin {
		height: 100% !important;
	}
	.c-aside {
		width: 92% !important;
	html {
		font-size: 30px !important;
	}
	header > .wrapper {
		padding: 0 100px !important;
	}
			
	.c-cal__container {
	margin-left: 130px !important;
		
	}
}




@media(max-width: 767px)

{
	container h1 {
		font-size: 100px !important;
	}
	.formInput input {
		width: 90% !important;
		font-size: 58px !important;		
	}
	.formInput button {
		    width: 90% !important;
			    font-size: 58px !important;
	}
	.wrapperLogin {
		height: 100% !important;
	}
	.c-aside {
		width: 92% !important;
	html {
		font-size: 30px !important;
	}
	header > .wrapper {
		padding: 0 100px !important;
	}
			
	.c-cal__container {
	margin-left: 130px !important;
		
	}
}














